!!!
%html
  %head
    %title SASS

    %link{rel: 'stylesheet', href: '/stylesheets/page_main.css'}

    %link{rel: 'stylesheet', href: '/stylesheets/prism.css'}
    %script{src: 'javascripts/prism.js'}

%body
  .page-nav
    .page-nav-left
      %a{href: '/#'} _
    .page-nav-right
      %a{href: '/variables'} variables

  .page-wrap
    .page-body

      %h1 Syntactically
      %h1 Awesome
      %h1 Style
      %h1 Sheets

      %h2 CSS language extension

