!!!
%html
  %head
    %title SASS - partials

    %link{rel: 'stylesheet', href: '/stylesheets/page_main.css'}
    %link{rel: 'stylesheet', href: '/stylesheets/partials.css'}

    %link{rel: 'stylesheet', href: '/stylesheets/prism.css'}
    %script{src: 'javascripts/prism.js'}

%body
  .page-nav
    .page-nav-left
      %a{href: '/nesting'} nesting
    .page-nav-right
      %a{href: '/extend'} extend


  .page-wrap
    .page-body
      %h1 Partials

      .circle
      .circle
      .square










    .page-code
      %ul.tabs
        %li
          %input{type: 'radio', name: 'tabs', id: 'hide-code'}
          %label{for: 'hide-code'} HIDE
          .code-body

        %li
          %input{type: 'radio', name: 'tabs', id: 'haml'}
          %label{for: 'haml'} haml
          .code-body
            %pre
              %code.language-haml
                = haml_code
        %li
          %input{type: 'radio', name: 'tabs', id: 'scss'}
          %label{for: 'scss'} scss
          .code-body
            %pre
              %code.language-scss
                = scss_code
        %li
          %input{type: 'radio', name: 'tabs', id: 'scss_partial'}
          %label{for: 'scss_partial'} scss_partial
          .code-body
            %pre
              %code.language-scss
                = scss_partial_code
        %li
          %input{type: 'radio', name: 'tabs', id: 'css'}
          %label{for: 'css'} css
          .code-body
            %pre
              %code.language-css
                = css_code
