$cerulean: #00c5cd;
$deep-red: #8b2252;

nav {

  ul {
    list-style: none;

    li {
      display: inline-block;
      border-left: solid 2px white;

      a {
        color: $deep-red;
        background: $cerulean;

        &:hover {
          color: white;
          background: $deep-red;
        }
      }
    }
  }

}

