$cerulean: #00c5cd;
$deep-red: #8b2252;

.square {
  margin: 1em;
  height: 60px;
  width: 60px;
  background: $cerulean;
  border: solid 3px $deep-red;
}

.circle {
  margin: 1em;
  height: 60px;
  width: 60px;
  border-radius: 60px;
  background: $cerulean;
  border: solid 3px $deep-red;
}

.heading {
  margin: 1em;
  background: $cerulean;
  color: $deep-red;
}
